 .imgPro{
    width:350px;
    
    }
    .header,.Star{
        color:#2c3e50 ;
    
    }
     .custom{
        border: none;
        border-top: 4px solid #2c3e50; 
        width: 100px; 
        opacity: 1;
    }